---
title: "Client Report - [Project 1: What is in aname?]"
subtitle: "Course DS 250"
author: "Joshua Ludwig"
format:
  html:
    self-contained: true
    page-layout: full
    title-block-banner: true
    toc: true
    toc-depth: 3
    toc-location: body
    number-sections: false
    html-math-method: katex
    code-fold: true
    code-summary: "Show the code"
    code-overflow: wrap
    code-copy: hover
    code-tools:
        source: false
        toggle: true
        caption: See code
    
---

In [ ]:
#| label: libraries
#| include: false
import pandas as pd
import altair as alt
import numpy as np

from IPython.display import Markdown
from IPython.display import display
from tabulate import tabulate

## Elevator pitch

_paste your elevator pitch here_

In [ ]:
#| label: project data
#| code-summary: Read and format project data
# Include and execute your code here
dat = pd.read_csv("https://github.com/byuidatascience/data4names/raw/master/data-raw/names_year/names_year.csv")

__Highlight the grand questions__

## GRAND QUESTION 1

__How does your name at your birth year compare to its use historically?__

_type your results and analysis here_

In [ ]:
#| label: GQ1
#| code-summary: Read and format data
# Include and execute your code here

_include figures in chunks and discuss your findings in the figure._

In [ ]:
#| label: GQ1 chart
#| code-summary: plot example
#| fig-cap: My useless chart
#| fig-align: center
# Include and execute your code here
alt.Chart(dat.head(200))\
    .encode(x="name", y="AK")\
    .mark_bar()\
    .properties(
        width=800,
        height=300
    )

In [ ]:
#| label: GQ1 table
#| code-summary: table example
#| tbl-cap: Not much of a table
#| tbl-cap-location: top
# Include and execute your code here
mydat = dat.head(1000)\
    .groupby('year')\
    .sum()\
    .reset_index()\
    .tail(10)\
    .filter(["year", "AK","AR"])

display(mydat)

## GRAND QUESTION 2

__If you talked to someone named Brittany on the phone, what is your guess of his or her age? What ages would you not guess?__

_type your results and analysis here_

In [ ]:
#| label: GQ2
#| code-summary: Read and format data
# Include and execute your code here

_include figures in chunks and discuss your findings in the figure._

In [ ]:
#| label: GQ2 chart
#| code-summary: plot example
#| fig-cap: My useless chart
#| fig-align: center
# Include and execute your code here
alt.Chart(dat.head(200))\
    .encode(x = "name", y = "AK")\
    .mark_bar()

In [ ]:
#| label: GQ2 table
#| code-summary: table example
#| tbl-cap: Not much of a table
#| tbl-cap-location: top
# Include and execute your code here
mydat = dat.head(1000)\
    .groupby('year')\
    .sum()\
    .reset_index()\
    .tail(10)\
    .filter(["year", "AK","AR"])

display(mydat)

## GRAND QUESTION 3

__Mary, Martha, Peter, and Paul are all Christian names. From 1920 - 2000, compare the name usage of each of the four names. What trends do you notice?__

_type your results and analysis here_

In [ ]:
#| label: GQ3
#| code-summary: Read and format data
# Include and execute your code here

_include figures in chunks and discuss your findings in the figure._

In [ ]:
#| label: GQ3 chart
#| code-summary: plot example
#| fig-cap: My useless chart
#| fig-align: center
# Include and execute your code here
alt.Chart(dat.head(200))\
    .encode(x = "name", y = "AK")\
    .mark_bar()

In [ ]:
#| label: GQ3 table
#| code-summary: table example
#| tbl-cap: Not much of a table
#| tbl-cap-location: top
# Include and execute your code here
mydat = dat.head(1000)\
    .groupby('year')\
    .sum()\
    .reset_index()\
    .tail(10)\
    .filter(["year", "AK","AR"])

display(mydat)

## GRAND QUESTION 4

__Think of a unique name from a famous movie. Plot the usage of that name and see how changes line up with the movie release. Does it look like the movie had an effect on usage?__

_type your results and analysis here_

In [ ]:
#| label: GQ4
#| code-summary: Read and format data
# Include and execute your code here

_include figures in chunks and discuss your findings in the figure._

In [ ]:
#| label: GQ4 chart
#| code-summary: plot example
#| fig-cap: My useless chart
#| fig-align: center
# Include and execute your code here
alt.Chart(dat.head(200))\
    .encode(x = "name", y = "AK")\
    .mark_bar()

In [ ]:
#| label: GQ4 table
#| code-summary: table example
#| tbl-cap: Not much of a table
#| tbl-cap-location: top
# Include and execute your code here
mydat = dat.head(1000)\
    .groupby('year')\
    .sum()\
    .reset_index()\
    .tail(10)\
    .filter(["year", "AK","AR"])

display(mydat)

## APPENDIX A (Additional Python Code)

```python
#paste other your code from your python file (.py) here
```